.filterfield {
    float: right;
    border-radius: 3px;
    border: 1px solid silver;
    height: 22px;
    width: 100px;
    background-image: url(../images/icons/cf_icon_filter.svg);
    background-position: 5px center;
    background-size: 10%;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-bottom: 10px;

    }
.filterbtn a {
    padding: 3px 4px 4px 4px;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    background-color: #acacac;
    border-radius: 3px;
    border: 1px solid #949494;
    color: #fff;
    font-family: 'open_sanssemibold', Arial;
    font-size: 11px;
    line-height: 11px;
    transition: all ease 0.2s;
}

.filterbtn a:hover {
    background-color: #6ac435;
    color: #fff;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #59aa29;
    transition: all ease 0.2s;
}

.filterbtn a:active {
    background-color: #878787;
    transition: all ease 0.0s;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.35);
}

.filterbtn {
    float:right;
    margin-top: 3px;
    margin-left: 5px;    
    }

.paramtree {
    width: 100%;
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    }

.paramtree .icon a {
    width: 30px;
    height: 25px;
    float: left;
    margin-right: 10px;
    }

.paramtree .closed a {
    background-color: #626262; 
    background-image: url(../images/icons/plus.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    }

.paramtree .opened a {
    background-color: #509924; 
    background-image: url(../images/icons/minus.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    }

.paramtree li a {
    text-decoration: none;
    color: #2c2c2c;
    display: block;
    padding-top: 7px;
    padding-bottom: 0px; 
    }

.paramtree li {
    width: 100%;
    float:left;
    color: white;
    text-shadow: 1px 1px rgba(255,255,255,0.50);
    background-color: #e4e4e4;
    border-top: 1px rgba(255,255,255,0.50) solid;
    border-bottom: 1px rgba(0,0,0,0.20) solid;
    }

.paramtree li:hover {
    background-color: #59aa29;    
    }

.variable {
    background-color: white;
    float:left;
    margin-top: 3px;
    border-radius:5px;
    width:calc(100% - 45px);
    margin-left:28px;
    border: 1px solid #969696;
    padding-left:10px;
    }
  
.paramtree li a:hover {
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.50);
    }
    
.treecontent {
    width:100%;
    padding-bottom:3px;
    float:left;
    background-color:#bfbfbf;
    }
    
.treecontent input {
    width:50%;
    float:left;
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    }

.one {
    float: left;
    width: 40%;
    padding-top:7px;
    padding-bottom:5px;
    font-weight: bold;
    }

.two {
    float: left;
    width: 15%;
    padding-top:5px;
    padding-bottom:5px;
    }

.three {
    float: left;
    width: 15%;
    padding-top:7px;
    padding-bottom:5px;
    color: #4F4F4F;
    font-style:italic;
    }

.four {
    float: left;
    width: 15%;
    padding-top:7px;
    padding-bottom:5px;
    color: #4F4F4F;
    font-style:italic;

    }

.five {
    float: left;
    width: 15%;
    padding-top:7px;
    padding-bottom:5px;
    color: #4F4F4F;
    font-style:italic;

    }
    
.open {
    background-color: #59aa29 !important;
    color: white !important;
    }

.open a {
    color: white !important;
    text-shadow: 1px 1px rgba(0,0,0,0.50);

    }
    
.paramtree li:hover a {
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.50);
    }
    
.paramtree .closed:hover a {
    background-color: #509924; 
    }    

    
    
@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-advanced {

    }
}